@CHARSET "UTF-8";
/*body{
  background: #f2f2f4;
  padding:25px 0 168px;
  font-size: 22px;
}*/
.btnBox{
  margin:20px 25px 0;
}
.btnBox .btn{
  width: 280px;
  line-height: 80px;
  font-size: 30px;
  font-weight: bolder;
  display: inline-block;
  border-radius: 10px;
  margin-right: 18px;
  text-align: center;
  color: #cb9023;
  background: linear-gradient(#ffdfa3, #fed587, #f9c871);
  border:1px solid #efb961;
}
.btnBox .btn.active{
  color: #ffdea1;
  background: linear-gradient(#5a5449, #554f44, #453f34);
  border:1px solid #312c23;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.row{
  border-top:2px solid #d0a54a;
  border-bottom:2px solid #d0a54a;
  padding-left:25px;
  padding-right:25px;
}
.row div{
  font-weight: bolder;
  line-height: 78px;
  /* font-size: 30px; */
  font-size: 22px;
}
.row1,
.row2{
  border-bottom:2px solid #d0a54a;
  padding-left:25px;
  padding-right:25px;
}
.row1 div,
.row2 div{
  font-weight: bolder;
  line-height: 68px;
  color: #666;
  font-size: 22px;
  
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  
}
.row1{
  background: #fff;
}
.bidLink{
  position: fixed;
  width:100%;
  line-height: 100px;
  bottom:0;
  background: #fff;
  color: #f52;
  text-align: center;
  font-size: 30px;
  bottom:120px;
}
.showTips{
  position: fixed;
  width:100%;
  line-height: 50px;
  bottom:0;
  background: #fff;
  color: #f52;
  font-size: 30px;
  padding:10px 20px;
  box-sizing: border-box;
  bottom:120px;
}
.sortGroup{
  text-align: right;
  padding:28px;
  justify-content: end;
}
.sortGroup .sortGroupBox{
  justify-content: flex-start;
}
.sortGroup label{
  margin-right: 28px;
}
.sortGroup .img,
.sortGroup .img2{
  width:50px;
  height:50px;
  position: relative;
  margin-right: 10px;
}
.sortGroup .img2{
  width:50px;
  height:50px;
  position: relative;
  margin-right: 10px;
  display: none;
}
.sortGroup .active .img{
  display: none;
}
.sortGroup .active .img2{
  display: block;
}
.sortGroup .img .radio{
  width:50px;
  height:50px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}






